<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN/EN" "http://ww.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="hiWorld" class="com.mycom.springcore.hw.HelloWorld">
		<property name="wish">
			<value>Good morning!...</value>
		</property>
</bean>
</beans>